/* Empty. Add your own CSS if you like */
#map {
  height: 100%;
  width: 100%;
}
.scroll {
  height: 100%;
}
#bg-game{
  background-image: url("../img/GandalfVSBalrog.jpg");
  background-size: cover;
  text-align: center;
}
#title-game{
  color: white;
}
